language: rust
rust:
    - stable
    - beta
    - nightly

branches:
    only:
        - master
        - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

matrix:
    allow_failures:
        - rust: stable
        - rust: beta